[unit]
Description=Test Service

[Service]
Type=simple
ExecStart=/home/nanith/odev/test/BSAT_postgresql/changes.sh

[Install]
WantedBy=multi-user.target
